<main>
  <h1>Welcome to SoftUni Wiki!</h1>
  <section>
    <h2>Search results for: "planet"</h2>
    <div class="spacer">
      <ul>
        <li>
          <a href="article.html">Planet</a>
        </li>
        <li>
          <a href="article.html">Planet Of The Apes</a>
        </li>
        <li>
          <a href="article.html">Planet X</a>
        </li>
      </ul>
    </div>
  </section>
</main>